page-historia{
    .toolbar{
    text-align: center;
    padding-bottom: 0px;
            }
    .toolbar2{
    padding-top: 0px;
     padding-bottom: 0px;
            }

    .title{
    text-align: center;
    }

}