page-buscar-paciente {
    .h5 {
        height: min-content;
        
    }
    .toolbar{
    text-align: center;
    }
    .no-scroll .scroll-content{
        overflow: hidden;
        overflow-y: auto;
    }

}
