<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BUSCAR PACIENTE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="buscar" color="primary">
    <ion-segment-button value="cedula">
      Por cedula
    </ion-segment-button>
    <ion-segment-button value="nombre">
      Por nombre
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="buscar">
    <div *ngSwitchCase="'nombre'">
      <ion-searchbar (ionInput)="getItemsN($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of pac" (click)="goToDatosP(item.cedula)">
          <h3> {{item.nombre}}</h3>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'cedula'">
      <ion-searchbar (ionInput)="getItemsC($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of pac" (click)="goToDatosP(item.cedula)">
          <h3> {{item.cedula}}</h3>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>