page-email {
    .bloque1{
        height: 70%;
    }
    .bloque2{
        height: 8%;
    }
    
    h5 {
        width: min-content;
        border: outset;
        border-radius: 2px;
        border-width: 1px;
        border-color: #AAAAAA;
    }
    
}